body{
    background-color: white;
    width: 100%;
    height: 520px;
  margin: 0;
  margin-top: 7px;
}
header{
    width: 100%;
    height: 70px;
    background-color: #068689;
    margin-top: -8px;
   

   
}


.div1{
    border: solid black 3px;
    border-radius: 15px;
    width: 700px;
    height: 400px;
    margin-top: 3%;
 
    margin-left: 30px;
    
}
.div2{
    position: relative;
    background-color: #147678;
    height: 60px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    margin-top: -1px;
}




table{
    margin-right: -110px;
    margin-top: 5%;
  
}
table, th, td {
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    margin-bottom: 130px;
    margin-top: 100px;
}
img{
    height: 90px;
    position: absolute;
    top: 75px;

}
h2{
    color: #147678;
    margin-top: -60px;
}
button{
    float:right;
    margin-top: 80px;
    margin-right: 15px;
    background-color: #147678;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    height: 30px;
}
button a{
    color: white;
    text-decoration: none;


}


header a{
    color: white;
    text-decoration: none;
    font-size: 150%;
    margin: 50px;
    float: right 250px;
}