body{
    background-color: white;
    margin: 0;
    width: 99,5%;
    height: 492px;
}
header{
    width: 100%;
    height: 70px;
    background-color: #068689;
}

.div1{
    border: solid black 3px;
    border-radius: 15px;
    width: 700px;
    height: 400px;
    margin-top: 2%;
    margin-bottom: 1%; 
}

.div1 h1{ 
    margin: 0px;
    padding:  25px;
    color:white;
    font-style: normal;
    font-size: 25px;

}
.div2{
    position: relative;
    background-color: #147678;
    height: 60px;
     border-top-left-radius: 10px ;
     border-top-right-radius: 10px;
}

#form{
    margin-top: 20%; 
    margin-bottom:15%;
    margin-left: 120px;
 }
 input[type=text] {
     width: 35%;
     padding: 5px 10px;
     margin: 50px ;
     border-radius: 7px;
     border: solid black 2px;
     margin-left: 20px;
     margin-right: 35px; 
   }
   
  input[type=submit] {
      background-color: #147678;
      border-radius: 11px;
      color: white;
      height: 25px;
      border: solid black 1px;
      margin-left:250px;
      
  }
  input[type=reset] {
    background-color: #147678;
    border-radius: 11px;
    color: white;
    height: 25px;
    border: solid black 1px;
    margin-bottom: 15px;
    
}
  img{
     height: 90px;
     position: relative;
     top: -445px;
     margin-right: 100%;

 }
 
  
  header a{
     color: white;
     text-decoration: none;
     font-size: 150%;
     margin: 50px;
     float: right 250px;
 }
